body {
    margin: 0;
    padding: 0;
  }
  .off{
    background-color:black;
  }
  #wrapper {
      position: relative;
      padding: 0 0 56.25% 0;
      height: 0;
      width: 100%;
  }
  #offline {
    position: relative;
    padding: 0 0 56.25% 0;
    height: 0;
    width: 100%;
    background-image:url(img/color-bars.jpg);
    background-size:cover;
	display:none;
  }

  #wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      z-index:1;
  }

 #loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color:black;
      z-index:2000;
  }

  #controls-overlay {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index:1999;
      width:100%;
      height:24px;
      padding:10px 0px 3px 0px;
      background-color:black;
      opacity: 0.7;
      display:none;
      flex-direction:row;
      align-items: center;
      justify-content: center;
      overflow:hidden
  }

  #title-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1999;
    width:100%;
    height:20px;
    padding:5px;
    background-color:black;
    opacity: 0.7;
    display:none;
    font-family: sans-serif;
    font-size:14px !important;
    font-weight: bold;
    color: rgb(22, 108, 240)
}

a.youtube-title {
  display:inline-block;
  height:14px;
  padding:0;
  overflow:hidden;
  text-decoration: none;
  cursor: pointer;
  color: rgb(22, 108, 240) !important;
}


  /*
  #wrapper #controls-overlay:hover,   #wrapper #controls-overlay:active {
    display:block;
  } */

  /*
  #wrapper #controls-overlay a {
    width:20%;
    max-width:100px;
    display:block;
  }

  #wrapper #controls-overlay a img {
    width:100%;
  } */

  #controls-overlay .control-buttons {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 120px;
    margin-left:10px;
  }

  #controls-overlay .progress {
    flex: 1 1 auto;
    color:white !important;
    font-family: sans-serif;
    font-size:16px !important;
    text-align:center;
    height:24px;
    overflow:hidden;
  }
  #controls-overlay .whatevs {
    flex: 0 1 110px;
    overflow:hidden;
    text-align: right;
  }

  @media (max-width: 400px) {
    #controls-overlay .whatevs {
      display:none /*hide the floating ibroadcast logo when space gets tight */
    }

    #controls-overlay .progress {
      text-align: right; /* without the logo, put the progress meter on the right */
      padding-right: 5px;
    }
  }

  @media (max-width: 300px) {
    #controls-overlay {
      justify-content:left; /* without the progress to fill the space, we have only 1 item in the flexbox, and we want it on the left */
    }

    #controls-overlay .progress {
      display:none; /* for ultra-small devices and clever embedding applications, the progress may be shown externally by the client */
    }
  }
    @media (max-width: 200px) {
    #title-overlay {
      display:none; /* when used as a music player, hide all but the control buttons! */  
    }
  }

  #controls-overlay .control-buttons a {
    color:white;
    font-size: 24px;
  }
  #controls-overlay .control-buttons a:hover {
    color: #cc0000 !important;
  }

  #controls-overlay .control-buttons a:active {
    color:yellow
  }




  #wrapper #clearcoat {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1995;
    background-color: transparent;
  }

  #wrapper #unmute-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1998;
  }
  #wrapper #unmute-overlay a {
    width:100%;
    height:100%;          
    display: block;
  }

  #wrapper #unmute-overlay a img {
    width: 40%;
    max-width: 170px;
    padding: 10px;
    display: block;
  }
