body {
    margin: 0;
    padding: 0;
  }
  #wrapper {
      position: relative;
      padding: 0 0 56.25% 0;
      height: 0;
      width: 100%;
  }
  #offline {
    position: relative;
    padding: 0 0 56.25% 0;
    height: 0;
    width: 100%;
    background-image:url(img/color-bars.jpg);
    background-size:cover;
	display:none;
  }

  #wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      z-index:1;
  }

 #loading-overlay {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      background-color:black;
      z-index:2000;
  }

  #controls-overlay {
      position: absolute;
      bottom: 0px;
      left: 0px;
      z-index:1999;
      width:100%;
      height:24px;
      padding:6px 0px 3px 0px;
      background-color:black;
      opacity: 0.7;
      display:none;
      flex-direction:row;
      align-items: center;
      justify-content: center;
  }

  #title-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1999;
    width:100%;
    height:24px;
    padding:5px;
    background-color:black;
    opacity: 0.7;
    display:none;
    color:white !important;
    font-family: sans-serif;
    font-size:16px !important;
}

a.youtube-title {
  text-decoration: underline;
  cursor: pointer;
  color: white !important;
}


  /*
  #wrapper #controls-overlay:hover,   #wrapper #controls-overlay:active {
    display:block;
  } */

  /*
  #wrapper #controls-overlay a {
    width:20%;
    max-width:100px;
    display:block;
  }

  #wrapper #controls-overlay a img {
    width:100%;
  } */

  #controls-overlay .control-buttons {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    margin-left:10px;
  }

  #controls-overlay .progress {
    flex-grow:2;
    color:white !important;
    font-family: sans-serif;
    font-size:16px !important;
    text-align:center;
  }
  #controls-overlay .whatevs {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    text-align: center;
  }
  #controls-overlay .control-buttons a {
    color:white;
    font-size: 24px;
  }
  #controls-overlay .control-buttons a:hover {
    color: #cc0000 !important;
  }

  #controls-overlay .control-buttons a:active {
    color:yellow
  }




  #wrapper #clearcoat {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1995;
    background-color: transparent;
  }

  #wrapper #unmute-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1998;
  }
  #wrapper #unmute-overlay a {
    width:100%;
    height:100%;          
    display: block;
  }

  #wrapper #unmute-overlay a img {
    width: 40%;
    max-width: 170px;
    padding: 10px;
    display: block;
  }
