.about-header {
  background-color: #222;
  padding: 0;
  width: 100%;
  text-align: center;
  border: none;
}

.video-wrapper {
  position: fixed;
  padding: 0 0 56.25% 0;
  height: 0;
  width: 100%;
  z-index: 2;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index:1;
  border: none;
}


.about-header img, .about-header iframe {
  max-height: 100%;
  border: none;
}

.about-info {
  padding-top: 56.25%;
  z-index: 1; //scroll under the video
}
.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}
